<!DOCTYPE html>
<html>
  <head>
    <title><%= product.id ? 'Редагувати товар' : 'Додати товар' %></title>
    <link rel="stylesheet" href="/stylesheets/products/form.css" />
    <script src="/javascripts/RequestManager.js"></script>
    <script>
      function onInputFile(event) {
        RequestManager.handleFileSelect(event, '#imgPreview')
      }
    </script>
  </head>
  <body>
    <h1><%= product.id ? 'Редагувати товар' : 'Додати товар' %></h1>
    <form
      action="<%= product.id ? '/products/edit/' + product.id + '?_method=PUT' : '/products/create' %>"
      enctype="multipart/form-data"
      method="POST"
    >
      <label for="name">Назва:</label>
      <input
        type="text"
        id="name"
        name="name"
        value="<%= product.name %>"
        required
      />
      <hr />
      <label for="price">Ціна:</label>
      <input
        type="number"
        id="price"
        name="price"
        value="<%= product.price %>"
        required
      />
      <hr />
      <label
        >Зображення продукту
        <input
          type="file"
          accept="image/*"
          name="prodImg"
          onchange="onInputFile(event)"
        />
      </label>
      <img id="imgPreview" src="/photo-not-available.jpg" class="prod-image" />
      <hr />
      <button type="submit"><%= product.id ? 'Оновити' : 'Додати' %></button>
    </form>
    <a href="/">На головну</a>
    <a href="/products">До списку товарів</a>
  </body>
</html>
